h1 {
    margin-bottom: 0;
}

.stats-grid {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    justify-content: center;
    text-align: center;
    margin: auto;
}