.card {
    display: flex;
    padding: 1rem;
    margin: 1rem;
    flex-direction: column;
    align-items: center;
    box-shadow: #0a040514 8px 8px 7px;
    color: black;
    width: 20%;
    -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none; -o-user-select:none;
    text-align: center;
}

.title {
    padding-bottom: 0.25rem;
    margin: 0;
    margin-bottom: 0.5rem;
    border-bottom: 0.1rem solid black;
    font-size: 1.5rem;
    font-weight: 500;
}

.sub-title {
    font-size: 1rem;
    font-style: italic;
    margin: 0;
}

.quantity {
    margin-top: 0rem;
    font-size: 2rem;
}

.card-yellow {
    background-color: var(--yellow-color);
}

.card-pink {
    background-color: var(--pink-color);
}

.card-green {
    background-color: var(--green-color);
}

.card-orange {
    background-color: var(--orange-color);
}

.card-blue {
    background-color: var(--blue-color);
}