name: Test

on:
  push:
    branches: 
      - master

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v1
        - name: Use Node.js 13.10
        uses: actions/setup-node@v1
        with:
            node-version: '13.10'
        - name: Install yarn and run unit tests
        run: |
            yarn
            yarn test
        env:
            CI: true